MONGO_URI=mongodb://localhost:27017/ginoong-barbero
PORT=5001
NODE_ENV=development
JWT_SECRET=your-super-secret-jwt-key-here
GOOGLE_CLIENT_ID=1032428967879-p9jv84ndcrnc09plo3ivenq7vquqaejk.apps.googleusercontent.com